<ion-tab-bar>
  <ion-tab-button tab="home" href="/main/home">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="security" href="/main/security">
    <ion-icon name="shield-outline"></ion-icon>
    <ion-label>Seguridad</ion-label>
  </ion-tab-button>
  
  <ion-tab-button disabled="true">
    <ion-icon name="search-outline"></ion-icon>
    <ion-label>Buscar</ion-label>
  </ion-tab-button>

  <ion-tab-button disabled="true">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-label>Favoritos</ion-label>
  </ion-tab-button>
</ion-tab-bar>