<ion-content>
  <div class="flex flex-col items-center justify-center min-h-screen bg-white p-4 md:p-6 relative overflow-hidden">
    <div class="absolute -top-20 -left-20 w-96 h-96 rounded-full bg-purple-300/30 blur-3xl"></div>
    <div class="absolute -bottom-40 -right-20 w-96 h-96 rounded-full bg-indigo-300/30 blur-3xl"></div>
    <div class="absolute top-1/2 -right-40 w-80 h-80 rounded-full bg-fuchsia-200/20 blur-3xl"></div>
    <div class="absolute bottom-0 left-20 w-72 h-72 rounded-full bg-violet-300/20 blur-3xl"></div>
    
    <div class="w-full max-w-md mx-auto z-10">
      <div class="mb-2 md:mb-4">
        <p class="text-gray-800 font-medium">SeguriBQA</p>
      </div>
      
      <div class="mb-6 md:mb-8">
        <h1 class="text-2xl font-bold text-gray-800">Let's Sign You In</h1>
        <p class="text-gray-500 text-sm mt-1">Welcome back, you've been missed!</p>
      </div>
      
      <div class="w-full space-y-6">
        <div class="relative pt-2">
          <ion-item class="rounded-xl" style="--background: transparent;">
            <ion-label position="floating" class="text-gray-500 text-sm">Email</ion-label>
            <ion-input 
              type="email"
              class="text-gray-900 text-base" 
              ngModel 
              email>
            </ion-input>
          </ion-item>
        </div>
        
        <div class="relative pt-2">
          <ion-item class="rounded-xl" style="--background: transparent;">
            <ion-label position="floating" class="text-gray-500 text-sm">Password</ion-label>
            <ion-input 
              type="password" 
              class="text-gray-800 text-base">
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
            
          </ion-item>
        </div>
        
        <div class="pt-4">
          <ion-button  (click)="redirectToHome()" router expand="block" shape="round" class="h-12 font-medium text-base uppercase" 
                    style="--background: linear-gradient(to right, #9333ea, #a855f7); --border-radius: 12px;">
            Sign In
          </ion-button>
        </div>
        
        <div class="flex justify-center mt-2">
          <p class="text-gray-500 text-sm">
            Don't have an account? <a href="#" class="text-purple-600 font-medium">Sign up</a>
          </p>
        </div>
        
        <div class="flex items-center justify-center space-x-3 my-4">
          <div class="h-px flex-1 bg-gray-200"></div>
          <p class="text-xs text-gray-400 font-medium">OR</p>
          <div class="h-px flex-1 bg-gray-200"></div>
        </div>
        
        <ion-button expand="block" shape="round" fill="outline" class="h-12 uppercase border-blue-500 text-blue-500 rounded-xl overflow-hidden">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          Continue with Facebook
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>